body{
    margin: 0;
    background-color: #EDC7B7;
    font-family: Roboto; 
    font-size: 25px;
    
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}   

.header{
    background-color: #EEE2DC;
}

.header-logo{
    margin: 22px 27px;
    width: 313px;
    height: 64px;
}
    
.nav_link{
    color: #000;
    text-decoration: none;
    margin-right: 25px;
    background-color: #D9D9D9;
    border-radius: 40px;
    padding: 10px;
}

.nav_link:hover{
    background-color:#AC3B61CC;
    color: #FFFFFF;
    transition: 0.4s;
    
}
.nav_link:active{
    background-color:#AC3B61;
}

.header-line{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 92px;
}
@media (prefers-reduced-motion: no-preference){
    :root{
        scroll-behavior: smooth;
    }
}

.main{
    height: 100vh;
}

.tagline{
    display: flex;
    justify-content: center;
    margin-left: 60px;
}
.tagline-text-top{
    font-size: 39px;
    margin-top: 40px;
    font-family: Roboto;
}
.tagline-text{
    margin-top: 15px;
    font-weight: 400;   
    color: #000;
    font-family: Roboto;
    font-size: 28px;
}
.tagline-all-text{
    margin-left: 30px;
}
.tagline-image img  {
    padding-right: 50px;
    height: 280px;
    width: 340px;

}   

.window {
    align-items: center;
    text-align: center;
    margin-top: 50px;
}

.container_main{
    margin-top: 70px;
}

.window-text{
    resize: none;
    width: 950px;
    height: 300px;
    background-color: rgba(186, 178, 181, 0.33);
    font-size: 30px;
    outline: 0px;
    border-radius: 20px;
    text-indent: 20px;
    border-color: #EDC7B7;
    font-family: Roboto;
}

.menu_line{
    display: flex;
    justify-content: center;
}

button,
button:active,
button:focus  {
  border:none;
}

.mic-button{
    height: 80px;
    width: 80px;
    margin-top: 55px;
    margin-right: 10px;
    background-image: url("images/microphone-svgrepo-com\ 1.png");
    background-size: cover;
    border-radius: 100px;
    background-color: #D9D9D9;
    border-color: #EDC7B7;
}

.mic-button:hover{
    background-image: url("images/microphone-svgrepo-com\ 2.png");
    background-color: #AC3B61CC;
    transition: 0.4s;
}

.mic-button:active{
    background-color: #AC3B61;
}

.about{
    display: flex;
    justify-content: center;
}
.about-text-top{
    font-size: 39px;
}
.about-text{
    font-weight: 400;   
    font-family: Roboto;
    font-size: 28px;
    margin-top: 15px;
}

.about-all-text{
    margin-left: 100px;
}

.footer{
    background-color:#BAB2B5;
    margin-top: 175px;
}

.footer-line{
    height: 200px;
}

.feedback{
    font-size: 39px;
    margin-left: 20px;
}
.emails{
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
}
.emails_text{
    font-size: 24px;
    margin-top: 10px;
    margin-left: 0px;
    list-style-type: none;
    line-height: 1.8;
}

.footer-logo{
    display: flex;
    margin-top: 20px;
    font-size: 24px;
    margin-left: 100px;

}

.footer-logo img{
    margin-right: 5px;
    width: 25px;
    height: 25px;
}